@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.card {
    padding: 24px 0px;
    width: 200px;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    @include shadow($shadow-color);
}

img {
    height: 120px;
    border-radius: 8px;
}

h2 {
    margin: 2px;
}