@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 180px;
    border-radius: 8px;
    background-color: $white;
    @include shadow($shadow-color);

    transition: width 0.5s ease, transform 0.5s ease;
}

.card:hover{
    width: 190px;
    transform: scale(1.15);
}

img {
    height: 120px;
}

.card div {
    padding: 10px;
}

.card h5 {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    color: $grey;
    text-align: left;
    padding: 10px 0px 0px 30px;
}