@import '../utils/variables.scss';

form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

form input {
    width: 180px;
}